<!doctype html>
<html lang="en">
    <head>
        <title>zigsmith</title>
        <meta name="description" content="A Zig package repository">
        <link rel="icon" href="data:," />

        <link rel="stylesheet" href="static/style.css" />
        <link rel="modulepreload" href="static/api.js">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
    </head>
    <body>
        <h1>zigsmith</h1>
        <form id="input">
            <input
                type="text"
                placeholder="Search {{ .PackageCount }} packages..."
            />
            <button type="submit" disabled>Search</button>
        </form>
        <div id="results"></div>

        <script id="config" type="application/json">
            {
                "cdnUrl": "{{ .CDNUrl }}"
            }
        </script>
        <script type="module" src="static/index.js"></script>
    </body>
</html>
